.mainContent {
    width:80%;
    margin: 10vh auto;
}
.albumDetail,
.albumInfo {
    display: flex;
    gap:30px;
    align-items: center;
    margin-bottom:10px;
}

.albumDetail {
    align-items:flex-start;
}

.albumInfo img {
    border-radius:60px;
    width:100px
}

.albumInfo a {
    text-decoration: none;
    color:#fff;
}


.albumDetail li {
    list-style-type: none;
}